$primary-color: #f05a28;

.facilities {
  width: 100%;
  background-color: #f3f4f6;
  padding: 4rem 0;

  .safe-zone {
    display: flex;
    align-items: center;
    gap: 2rem;

    .image {
      flex: 1;
      background: gray;
      height: 300px;
    }

    .text {
      flex: 1;

      ul {
        list-style: none;

        li {
          margin: 0.5rem 0;
          &:before {
            content: "✔";
            color: $primary-color;
            margin-right: 0.5rem;
          }
        }
      }
    }
  }
}
