.location {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2rem auto;
  max-width: $safe-zone;
  gap: 1rem;

  .location-map {
    flex: 1 1 65%;
    img {
      width: 100%;
      height: auto;
    }
  }

  .location-list {
    background-color: white;
    flex: 0 0 35%;
    width: 100%;
    padding: 1rem;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      .underscore {
        width: 100%;
        border-bottom: 2px dotted $secondary-color;
        opacity: 0.75;
      }

      li {
        padding: 0.25rem 0;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        font-size: 1.125rem;
        color: $cta-hover-bg-color;
        white-space: nowrap;

        .location-icon {
          margin-right: 0.5rem;
          color: $secondary-color;
          font-size: 1.25rem;
        }
      }
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;

    .location-map,
    .location-list {
      flex: 1 1 100%;
    }
  }
}
