$primary-color: #f05a28;

.hero {
  position: relative;
  height: 600px;
  background: url("../../assets/hero-slide-1.jpg") center/cover no-repeat;

  .safe-zone {
    display: flex;
    align-items: center;
    height: 100%;

    .hero-content {
      color: white;

      h1 {
        font-size: 3rem;
        span {
          color: $primary-color;
        }
      }

      p {
        margin: 1rem 0;
      }

      button {
        background-color: $primary-color;
        color: white;
        border: none;
        padding: 0.75rem 1.5rem;
        cursor: pointer;
        border-radius: 5px;
      }
    }
  }
}
