.partners {
  width: 100%;
  background-color: #f7fbfc;
  margin-bottom: 8rem;
  margin: 4rem auto calc(4rem + 129px) auto;

  &__safe-zone {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  &__title {
    font-size: 2rem;
    color: #2d602d;
    margin-bottom: 1rem;
  }

  &__scroll-container {
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  &__logos {
    display: flex;
    gap: 2rem;
    animation: scroll 3s linear infinite;
  }

  &__logo {
    height: 100px;
    width: auto;
    flex-shrink: 0;
  }

  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
}

@media only screen and (max-width: 1024px) {
  .partners {
    margin: 4rem auto 4rem auto;
  }
}
