// Variables
$primary-color: #f05a28;
$secondary-color: #186367;
$background-color: #f8f9fa;
$safe-zone: 1290px;

$cta-bg-color: #ff6b45;
$cta-hover-bg-color: #29454e;
$cta-hover-color: #bcd2d3;
$nav-bg-color: white;
$nav-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
$nav-link-color: #333;
$dropdown-bg-color: white;
$dropdown-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
$mobile-menu-icon-filter: invert(53%) sepia(83%) saturate(7496%);
