/* Barlow loaded non-blocking via index.html */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
  background-color: #176367;
}

body {
  font-family: "Barlow", Arial, sans-serif;
  background-color: $background-color;
}

.safe-zone {
  max-width: $safe-zone;
  margin: 0 auto;
}

h1 {
  font-size: 2.125rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}
