.slider {
  position: relative;
  height: calc(100svh - 82px);
  max-height: 700px;
  overflow: hidden;
  background-color: #ffffff;
  max-width: 1920px;
  margin: 0 auto;

  &__content {
    display: grid;
    height: 100%;

    @media (min-width: 1024px) {
      grid-template-columns: 1.5fr 2fr;
    }
  }

  &__left {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    transition: opacity 0.5s ease;

    @media (min-width: 1024px) {
      padding: 4rem;
    }
  }

  &__indicators {
    display: flex;
    gap: 2rem;
    margin-bottom: 4rem;
  }

  &__indicator {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.875rem;
    color: #fff;
    @media (min-width: 1024px) {
      color: #000;
    }

    &--active {
      color: #ff6b45;
      @media (min-width: 1024px) {
        color: #ff6b45;
      }
    }

    &-number {
      font-family: monospace;
      color: #fff;
      @media (min-width: 1024px) {
        color: #000;
      }
    }

    &-line {
      height: 1px;
      width: 1rem;
      background-color: currentColor;
    }
  }

  &__title {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1.5rem;
    transition: transform 0.5s ease, opacity 0.5s ease;
    color: #fff;

    @media (min-width: 1024px) {
      color: #4a4a4a;
    }
  }

  &__highlight {
    color: #ff6b45;
  }

  &__description {
    max-width: 28rem;
    color: #fff;
    margin-bottom: 2rem;
    transition: transform 0.5s ease, opacity 0.5s ease;

    @media (min-width: 1024px) {
      color: #4a4a4a;
    }
  }

  &__button {
    display: block;
    width: fit-content;
    align-items: center;
    background-color: #ff6b45;
    padding: 1.25rem 1.5rem;
    font-weight: 600;
    transition: gap 0.3s ease;
    cursor: pointer;
    border: 0px;
    color: #fff;
    gap: 0.5rem;

    &:hover {
      gap: 1rem;
      background-color: #29454e;
      color: #bcd2d3;
    }
  }

  &__image-container {
    position: absolute;
    inset: 0;

    @media (min-width: 1024px) {
      position: relative;
    }
  }

  &__image {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 0.5s ease;

    &--active {
      opacity: 1;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.2);

    @media (min-width: 1024px) {
      display: none;
    }
  }

  &__nav {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    display: flex;
  }

  &__nav-button {
    background-color: #2a454e;
    padding: 1.5rem;
    transition: background-color 0.3s ease;
    border: 0px;
    cursor: pointer;

    &:hover {
      background-color: #1a2c32;
    }

    svg {
      width: 1.5rem;
      height: 1.5rem;
      fill: #ffffff;
    }
  }
}
